@import "_variables.scss";

.post {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  .post-header {
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
    width: 95%;
  }

  .post-title {
    font-size: 38px;
    font-family: 'Dosis' !important;
    margin-bottom: 2rem;

  }

  .post-tags {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .post-date {
    color: #666;
    font-size: 14px;
  }

  h2 {
    margin-top: 1.4em;
    margin-bottom: 0.8em;
    font-family: 'Dosis' !important;
  }

  h2 {
    font-size: 1.8rem;
  }

  article {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 95%;
    text-align: justify;
  }

  img {

    width: 100%;
    height: 60vh;
    object-fit: cover;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 255, 0, 0.5);
    }

    border-bottom: 1px solid #ddd;
  }
}

@media (min-width: 768px) {
  .post {
    .post-header {
      width: 50%;
    }
    article {
      width: 50%;
    }
  }
}

.post-share {
  background-color: #f2f2f2;
  border-radius: 0.2rem;
  border: #d0d0d0 solid 1px;
  margin-top: 5%;
  margin-bottom: 5%;
  h1 {
    color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  a {
    padding-right: 0;
    padding-left: 0;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-share {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $dirty-white;
  font-weight: 600;
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  i {
    color: inherit !important;
  }
}

.btn-reddit {
  background-color: #FF4320;
}

.btn-reddit:hover {
  color: #FF4320;
  background-color: $dirty-white;
}

.btn-twitter {
  background-color: #5DAEE9;
}

.btn-twitter:hover {
  background-color: $dirty-white;
  color: #5DAEE9;
}

.btn-facebook {
  background-color: #3D5A96;
}

.btn-facebook:hover {
  background-color: $dirty-white;
  color: #3D5A96;
}

.post-item {
  @extend %text-shadow;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  width: 100%;
  height: 80vh;
  background-size: cover !important;
  background-position: center !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .content-container {
    width: 50%;
    text-align: center;
  }

  font-family: 'Dosis';
  h1 {
    font-size: 3rem;
    color: white !important;
    margin-bottom: 1em;
  }
  h5 {
    font-size: 1.4rem;
    color: whitesmoke;
  }

}
