@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";

.post {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  header {
    margin: 2rem 0;
  }

  &__container {
    width: 45%;
  }

  &__image_header {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  &__home-link {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 36px;
    font-family: $primary-font !important;
    color: #515151;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__date {
    color: #bfbfbf;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.5rem;

  }

  &__tags {
    font-size: 12px;
    margin-bottom: 1rem;
    i {
      font-size: 0.8em;
      color: #2a2a2a;
    }
  }

  article {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(81, 88, 98);
    text-align: justify;

    h2 {
      margin: 0.9em 0;
      font-family: $primary-font;
      font-size: 1.8rem;
    }

    img {
      object-fit: contain;
      width: 100%;
    }
  }

}

@media (max-width: 768px) {

  .post__container {
    width: 100%;
    padding: 0 15px;
  }
}

.post-share {
  background-color: #f2f2f2;
  border-radius: 0.2rem;
  border: #d0d0d0 solid 1px;
  margin: 5% 0;
  h1 {
    color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  a {
    padding-right: 0;
    padding-left: 0;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-share {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $dirty-white;
  font-weight: 600;
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  i {
    color: inherit !important;
  }
}

.btn-reddit {
  background-color: #FF4320;
}

.btn-reddit:hover {
  color: #FF4320;
  background-color: $dirty-white;
}

.btn-twitter {
  background-color: #5DAEE9;
}

.btn-twitter:hover {
  background-color: $dirty-white;
  color: #5DAEE9;
}

.btn-facebook {
  background-color: #3D5A96;
}

.btn-facebook:hover {
  background-color: $dirty-white;
  color: #3D5A96;
}

.post-item {

  padding: 40px 10px;
  box-sizing: border-box;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px #f5f5f5 solid;
  }

  a:hover {
    text-decoration: none;
  }

  &__title {
    text-align: right;
    font-size: 18px;
    margin: 0 0 6px;
    line-height: 20px;
    font-weight: 400;
  }

  &__date {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: gray;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__excerpt {
    text-align: left;
    color: gray;
    font-size: 16px;
  }

  &:hover {
    background: #f8f8ff;
  }

}

@mixin transform($time) {
  -webkit-transition: background $time ease-in-out;
  -moz-transition: background $time ease-in-out;
  -ms-transition: background $time ease-in-out;
  -o-transition: background $time ease-in-out;
  transition: background $time ease-in-out;
}

.post-hero {
  @extend %text-shadow;
  @include transform(100ms);

  background: rgba(0, 0, 0, 0.7);

  &:hover {
    background: rgba(0, 0, 0, 0.5);

    img {
      filter: grayscale(0);
    }
  }

  position: relative;
  a:any-link {
    text-decoration: none;
  }

  &__container {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-center;
    height: 40vh;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    filter: grayscale(70%);
    z-index: -1;
  }

  font-family: $heading-font;
  &__title {
    width: 50%;
    text-align: center;
    font-size: 3rem;
    color: white !important;
    margin-bottom: 0.5em;
  }
  &__date {
    font-size: 1.2rem;
    color: whitesmoke;
  }

}
