@import "_variables.scss";

.post {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  .post-header {
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
    width: 95%;
  }

  &__title {
    font-size: 36px;
    font-family: $primary-font !important;
    color: #515151;
    font-weight: 400;
  }

  &__tags {
    font-size: 12px;
  }

  &__date {
    color: #bfbfbf;
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0;
  }

  h2 {
    margin: 0.9em 0;
    font-family: $primary-font !important;
    font-size: 1.8rem;
  }

  article {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(81, 88, 98);
    width: 95%;
    text-align: justify;
  }

  .post__image_header {

    width: 100%;
    height: 20vh;
    object-fit: cover;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 255, 0, 0.5);
    }

    border-bottom: 1px solid #ddd;
  }
}

.post-width {
  width: 45%;
}

@media (min-width: 768px) {
  .post {
    .post-header {
      width: 45%;
    }
    article {
      width: 45%;
    }
  }
}

.post-share {
  background-color: #f2f2f2;
  border-radius: 0.2rem;
  border: #d0d0d0 solid 1px;
  margin-top: 5%;
  margin-bottom: 5%;
  h1 {
    color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  a {
    padding-right: 0;
    padding-left: 0;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-share {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $dirty-white;
  font-weight: 600;
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  i {
    color: inherit !important;
  }
}

.btn-reddit {
  background-color: #FF4320;
}

.btn-reddit:hover {
  color: #FF4320;
  background-color: $dirty-white;
}

.btn-twitter {
  background-color: #5DAEE9;
}

.btn-twitter:hover {
  background-color: $dirty-white;
  color: #5DAEE9;
}

.btn-facebook {
  background-color: #3D5A96;
}

.btn-facebook:hover {
  background-color: $dirty-white;
  color: #3D5A96;
}

.post-item {

  padding: 40px 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px #f5f5f5 solid;

  a:hover {
    text-decoration: none;
  }

  &__title {
    text-align: right;
    font-size: 18px;
    margin: 0 0 6px;
    line-height: 20px;
    font-weight: 400;
  }

  &__date {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: gray;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__excerpt {
    color: gray;
    font-size: 16px;
  }

  &:hover {
    background: #f8f8ff;
  }

}

.post-hero {
  @extend %text-shadow;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  width: 100%;
  height: 40vh;
  background-size: cover !important;
  background-position: center !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .content-container {
    width: 50%;
    text-align: center;
  }

  font-family: $heading-font;
  &__title {
    font-size: 3rem;
    color: white !important;
    margin-bottom: 1em;
  }
  &__date {
    font-size: 1.4rem;
    color: whitesmoke;
  }

}
